html, body, * {
  box-sizing: border-box;
  color: #53555b;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button img {
  height: 40px;
}

#main-container {
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  z-index:0;
}

#main-container::after{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.6;
  background-color: black;
}

.page {
  box-sizing: border-box;
  height: 29.684cm;
  margin: 0;
  padding: 0;
  width: 21.1cm;
  z-index: 999;
}

.page > * {
  margin: 0;
}

header {
  background-color: white;
  height: 9%;
  padding: 12px 20px;
  position: relative;
  border-bottom: 2px solid #313f4e14;
}

header .name, header .major {
  color: rgb(49, 63, 78);
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

header .major {
  font-weight: 100;
  margin-top: 10px;
}

.contents {
  box-sizing: border-box;
  display: flex;
  height: 91%;
  width: 100%;
}

.main-section {
  background-color: white;
  display: inline-block;
  width: 70%;
}

.main-section > section,
.right-section > section {
  padding: 10px 20px 5px 20px;
}

.highlights {
  font-family: Helvetica, sans-serif;
  font-size: small;
  font-weight: 100;
  text-align: left;
  word-spacing: normal;
  font-variant: normal;
}

li {
  font-variant: normal;
  font-weight: 100;
  line-height: 18px;
  margin-bottom: 5px;
}

.section-title {
  border-bottom: 1px solid #bdbdbd;
  color: rgb(49, 63, 78);
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.subDate {
  color: #919191;
  font-size: 12px;
  margin-left: 15px;
}

.right-section {
  background-color: white;
  display: inline-block;
  width: 30%;
  border-left: 2px solid #313f4e14;
}

.experience-card {
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
}

.experience-card .title {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
}

/*Multy bullet attempt */
.experience-card ul {
  list-style: none;
}

.experience-card ul.multi-titles li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom. */
    margin-bottom: 0;  /* This overrides previously specified margin-bottom */
    /* padding-bottom: 2.5em; */
    
}

.experience-card ul.multi-titles li:after {
  /* bullets */
  /* content: url(./assets/img/dot.png); */
  content: url(./assets/img/icons8-white-circle-12.png);
  
  position: absolute;
  left: -20px; /*adjust manually*/
  top: 0px;
}

.experience-card ul.multi-titles li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -15px; /* adjust manually */
  border-left: 2px solid #ada5a5;
  height: 100%;
  width: 1px;
}

.experience-card ul.multi-titles li:first-child:before {
 /* first li's line */
 top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

.experience-card ul.multi-titles li:last-child:before {
  /* last li's line */
 height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

/*Multy bullet attempt */

.experience-card .company {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

.experience-card .company .name{
  color: #919191;
  font-weight: bold;
  margin-right: 12px;
}

.experience-card .company .duration{
  color: #919191;
  font-size: 14px;
}

ul {
  font-family: Helvetica, sans-serif;
  font-size: small;
  list-style: disc;
  list-style-position: outside;
  margin-left: 16px;
}

.certificate-card {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  font-size: small;
  margin: 8px 0;
}

.date {
  color: #919191;
  font-size: small;
}

.education-card {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  margin: 8px 0;
}

.certificate-card .title,
.education-card .title {
  font-size: 15px;
}

.education-card .institution{
  font-size: small;
}

.education-card .institution .date,
.certificate-card .date {
  margin-right: 15px;
}

.info-item {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  font-size: small;
  margin-top: 10px;
}

.info-item .info {
  display: block;
  font-weight: 100;
  margin-top: 6px;
}

.skill-card {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: small;
  justify-content: space-between;
  padding: 15px 0 10px;
}

.skill-level-container {
  display: flex;
  align-items: center;
}

.disc {
  background-color: #c2c2c2;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 2px;
  width: 12px;
  position: relative;
}

.fill {
  background-color: rgb(49, 63, 78);
}

.half-disc-left{
  height:12px;
  width:6px;
  border-radius: 90px 0 0 90px;
  background:rgb(49, 63, 78);
}

.concentric-half {
  background-color: rgb(49, 63, 78);
  height: 6px;
  width: 6px;
  position: absolute;
  top: 25%;
  left: 25%;
}

@media only screen and (max-width: 800px) {
    .contents { display: block; }
    button { display: none; }
    .skill-card { padding: 10px 0; }
    .main-section, .right-section { display: block; width: 100%; }
  }